 a {
    color: #2176FF;
    text-decoration: underline;
    cursor: pointer;
 }

 a:hover {
    text-decoration: none;
 }
 
 .nav-link {
   text-decoration: none;
 }

 .nav-link:hover {
   color: #5495ff;
 }